<div class='input-page' id='input-page'>
  <div class='input-page__inner clearfix'>
    <div class='input-page__inner--left input-page__header'>
      <h2>件数入力</h2>
      <h5>今日の件数を入力してください</h5>
      <%= link_to "メインページに戻る", root_path, class: 'btn'%>
    </div>
    <div class='input-page__inner--right user-form'>
      <%= form_with model: @daily_count, local: true do |f|%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :日付%>
          </div>
          <div class='field-input'>
            <%= f.date_field :date, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :配達件数%>
          </div>
          <div class='field-input'>
            <%= f.text_field :delivery_count%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :修理件数%>
          </div>
          <div class='field-input'>
            <%= f.text_field :repair_count%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :再入庫件数%>
          </div>
          <div class='field-input'>
            <%= f.text_field :exchange_count%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "登録", class: 'btn'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
