<div class="main-header">
  <div class="left-header">
    <div class="header-title">
      Equipment Management System
    </div>
  </div>
  <div class="right-header">
  <% unless current_page?(search_managements_path) %>
    <div class="header-button">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    </div>
  <% else %>
    <div class="header-button">
      <%= link_to "一覧画面に戻る", root_path, class: 'btn'%>
    </div>
  <% end %>
  </div>
</div>

<div class="managements">
  <div class="item-title">
    <div class="name">
    備品名  
    </div>
    <div class="date">      
    購入予定日
    </div>
    <div class="purchase-amount">
    購入予定数
    </div>
  </div>
  <div class="registered-items">
    <% @managements.each do |data| %>
      <% if current_user.id == data.user_id %>
        <div class="item-info">
          <div class="name">
            <%= data.item_name %>
          </div>
          <% purchase_date = (data.created_at + (((data.current_amount - data.spare) / data.consumption_by_delivery) / @calculate - data.lead_time) * 86400).strftime("%Y/%m/%d") %>
          <% today = Date.today.strftime("%Y/%m/%d") %>
          <% if (Date.parse(purchase_date) - Date.parse(today)) > 7 %>
            <div class="date">      
              <%= purchase_date %>
            </div>
          <% else %>
            <div class="special-date">      
              <%= purchase_date %>
            </div>
          <% end %>
          <div class="purchase-amount">
            <% if data.unit - data.spare > data.spare %>
              <%= data.unit %>
            <% else %>
              <%= ((data.spare / data.unit).ceil) * data.unit %>
            <% end %>
          </div>
          <div class="item-edit">
            <%= link_to "編集", edit_management_path(data.id) %>
          </div>
          <div class="purchase">
            <%= link_to "購入", purchase_management_path(data.id) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form">
    <%= form_with(url: search_managements_path, local: true, method: :get, class: "form-input") do |form| %>
      <%= form.text_field :keyword, placeholder: "備品を検索する", class: "form-search" %>
      <%= form.submit "検索", class: "form-submit" %>
    <% end %>
  </div>
</div>

