<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.center_name, edit_user_path(current_user) %>
  </div>
  <div class="input-daily-delivery">
    <%= link_to "拠点情報編集", edit_user_path(current_user) %>
  </div>
</div>

<div class="menu">
  <div class="order">
    <div class="order-name">
      <%= link_to "件数入力", new_daily_count_path%>
    </div>
  </div>
  <div class="order">
    <div class="order-name">
      <%= link_to "件数確認/編集", daily_counts_path%>
    </div>
  </div>
  <div class="order">
    <div class="order-name">
      <%= link_to "備品登録", new_management_path%>
    </div>
  </div>
</div>