<div class='input-page' id='input-page'>
  <div class='input-page__inner clearfix'>
    <div class='input-page__inner--left input-page__header'>
      <h2>備品情報変更</h2>
      <h5>備品の情報を入力してください</h5>
      <h5>更新する際は数量を最新の数にしてください</h5>
      <%= link_to "メインページに戻る", :back, class: 'btn'%>
    </div>
    <div class='input-page__inner--right user-form'>
      <%= form_with model: @management, local: true do |f|%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :"備品名"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :item_name%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :"発注単位"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :unit%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :"リードタイム"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :lead_time%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :"現在の数量"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :current_amount %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :"予備保管数量"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :spare%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :"1件配達あたり消費数量"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :consumption_by_delivery%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :"1件修理あたり消費数量"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :consumption_by_repair%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :"1件再入庫あたり消費数量"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :consumption_by_exchange%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "更新", class: 'btn'%>
        </div>
        <div class='delete'>
          <%= link_to "削除", management_path(@management.id), method: :delete %>
        </div>
      <% end %>
    </div>
  </div>
</div>
